extends ../components/base/layout

block variables
  - const title = "Запрашиваемая страница не найдена" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "404.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-container
      .page-container__wrapper
        h1.page-container__title Запрашиваемая страница не найдена
        p.page-container__text Иногда и такое случается
        button(type="button").page-container__link
          span Вернуться назад
          +icon('icon-arrow', 8, 13)


